
#background {
    background-image: url('./background-image.jpg');
    background-position: center;
    background-size: cover;
}

body {
    font-family: 'Fredoka', sans-serif; 
}

.align-center {
    text-align: center;
}

.bg-white {
    background-color: #fefefe;
}

.bg-gray {
    background-color: #f1f1f1;
}

.border-0 {
    border: 0
}

.btn:hover {
    background-color: #f6890d;
    box-shadow: 0 0 25px #ff9900;
}

.cursor-pointer {
    cursor: pointer;
}

.flex {
    display: flex;
}

.flex-column {
    flex-direction: column;
}

.flex-row {
    flex-direction: row;
}

.fs-14 {
    font-size: 14px;
}

.fs-20{
    font-size: 20px;
}

.form-input{
    border: 1px solid #f1f1f1;
    background-color: #f1f1f1;
    outline: 0;
}

.form-input::placeholder{
    font-size: 12px;
}

.form-input:focus {
    background-color: #fefefe;
    box-shadow: 0 0 10px #FFA500;
    transition: all 0.5s;
}

.h-50 {
    height: 100px;
}

.itens-center {
    justify-content: center;
}

.m-auto {
    margin: 0 auto;
}

.m-t-100 {
    margin-top: 100px;
}

.orange{
    background-color: #F6660D;
    
}
.p-10 {
    padding: 10px;
}

.p-20 {
    padding: 20px;
}

.p-t-20 {
    padding-top: 20px;
}

.s-500 {
    font-size: 30px;
    color: #f1f1f1;
}
.w-50 {
    width: 50%;
}

.rounded {
    border-radius: 20px;
}

.rounded-full{
    border-radius: 50%;
    padding: 20px;
    
}

.shadow-orange {
    box-shadow: 0 0 20px #FFA500;
}

.t-white {
    color: white;
}
